/* *************************************************** */

/* TABLE OF CONTENTS *


MEDIA QUERIES:

 */

/* *************************************************** */

/* general */

/* *************************************************** */

html, body {
    background-color: #f3f2f0;
    margin: 0 auto;
    height: 100%;
    width: 100%
}

h1, h2 {
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 35px;
    padding: 0px;
    margin: 0px;
}

h4 {
    font-family: 'Caladea', serif;
    /* font-weight: 800; */
    margin: 0px;
    padding: 0px;
}

h5 {
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Caladea', serif;
    font-size: 20px;
    line-height: 40px;
    margin-right: 25px;
    margin-left: 10px;
}

/* *************************************************** */

/* NAVBAR */

/* *************************************************** */

#navbar {
    position: fixed;
    right: 15px;
    top: 350px;
    z-index: 5;
    font-size: 26px;
    line-height: 35px;
    text-align: right;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* font-size: 26px;
    line-height: 35px;
    text-align: right; */
}

a:hover {
    color: #0e4747;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* font-size: 26px; */
    font-weight: bold;
    /* line-height: 35px;
    text-align: right; */
}

a:active {
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* font-size: 26px; */
    font-weight: bold;
    /* line-height: 35px;
    text-align: right; */
}

/* *************************************************** */

/* COLOR BLOCKS */

/* *************************************************** */

#red {
    background-color: rgb(231, 131, 165);
    z-index: 1;
    position: absolute;
    top: 85px;
    left: 400px;
    height: 640px;
    width: 850px;
}

#yellow {
    background-color: rgba(253, 213, 36, 0.548);
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 150px;
    height: 744px;
    width: 400px;
}

#blue {
    background-color: rgba(73, 165, 165, 0.918);
    z-index: 4;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 300px;
    width: 500px;
}

/* *************************************************** */

/* *************************************************** */

.bodycopy {
    padding: 0px 28px 0px 0px;
    line-height: 28px;
}

/* *************************************************** */

/* HOME */

/* *************************************************** */

#home {
    background-color: #ffffff;
    position: relative;
    top: 150px;
    left: 300px;
    z-index: 3;
    width: 740px;
    height: 480px;
    padding: 0px;
}

#self-portrait {
    width: 800px;
    height: 510px;
}

/* *************************************************** */

/* INTRO */

/* *************************************************** */

#intro {
    background-color: #ffffff;
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 3;
    width: 740px;
    height: 480px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

#bio-image {
    width: 200px;
    height: 200px;
    ;
    padding: 0px 20px 0px 10px;
    float: left;
}

/* *************************************************** */

/* PROJECT */

/* *************************************************** */

#project {
    background-color: #ffffff;
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 3;
    width: 740px;
    height: 480px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}



@charset "UTF-8";

.news-image-gallery-container {
  background-color: #fefefe;
  padding: 2rem 1.5rem 1rem;
}

.news-image-gallery-container .rounded-social-buttons {
  text-align: left;
}

.news-image-gallery-container .rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.8em;
  border-radius: 1.6875rem;
  transition: 0.5s ease all;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

/* .news-image-gallery-container .rounded-social-buttons .social-button:hover, .news-image-gallery-container .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.news-image-gallery-container .rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.news-image-gallery-container .rounded-social-buttons .social-button.facebook:before {
  font-family: "FontAwesome";
  content: "";
}

.news-image-gallery-container .rounded-social-buttons .social-button.facebook:hover, .news-image-gallery-container .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.news-image-gallery-container .rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.news-image-gallery-container .rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "";
}

.news-image-gallery-container .rounded-social-buttons .social-button.twitter:hover, .news-image-gallery-container .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.news-image-gallery-container .rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.news-image-gallery-container .rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.news-image-gallery-container .rounded-social-buttons .social-button.linkedin:hover, .news-image-gallery-container .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.news-image-gallery-container .rounded-social-buttons .social-button.google-plus {
  background: #dd4b39;
}

.news-image-gallery-container .rounded-social-buttons .social-button.google-plus:before {
  font-family: "FontAwesome";
  content: "";
}

.news-image-gallery-container .rounded-social-buttons .social-button.google-plus:hover, .news-image-gallery-container .rounded-social-buttons .social-button.google-plus:focus {
  color: #dd4b39;
  background: #fefefe;
  border-color: #dd4b39;
}

.news-image-gallery-container .news-image-gallery-title {
  margin-top: .5rem;
}

.news-image-gallery-container .read-more {
  color: #8a8a8a;
} */






.project-info {
    border: 1px solid #cacaca;
    margin: 0 0 1.25rem;
    padding: 1.25rem;
    background: #fefefe;
  }
  
  .project-info .project-info-1 {
    text-align: center;
  }
  
  .project-info .project-info-1 .hw1 {
    border-radius: 50%;
    margin: 0 0 1.25rem;
  }
  
  .project-info .project-info-1 .project-info-content p:last-child {
    margin: 0;
  }
  
  .project-info .tech-container {
    text-align: center;
  }
  
  .project-info .tech-container .card-profile-stats-statistic {
    margin: 0 0 1.25rem;
  }
  
  .project-info .tech-container .card-profile-stats-statistic p:last-child {
    margin: 0;
  }
  
  .project-info .card-profile-stats-more .card-profile-stats-more-link {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    color: #0a0a0a;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .project-info .card-profile-stats-more .tech-container-info {
    display: none;
  }
  
  
  @media print, screen and (min-width: 64em) {
    .project-info .project-info-1 {
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      text-align: left;
    }
    .project-info .project-info-1 .hw1 {
      margin: 0 1.25rem 0 0;
      max-width: 250px;
    }
    .project-info .tech-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
    }
  }
  
  




/* .hw1 {
    margin-left: 20px;
    float: left;
}

.hw2 {
    margin-left: 25px;
    float: left;
}

.hw3 {
    margin-left: 30px;
    float: left;
}

.hw4 {
    margin-left: 35px;
    float: left;
}

.hw5 {
    margin: 30px 0px 0px 20px;
    float: left;
    clear: both;
}

.hw6 {
    margin: 30px 0px 0px 25px;
    float: left;
}

.hw7 {
    margin: 30px 0px 0px 30px;
    float: left;
}

.hw8 {
    margin: 30px 0px 0px 35px;
    float: left;
    clear: both;
} */



/* *************************************************** */

/* ARTWORK */

/* *************************************************** */

#art {
    background-color: #ffffff;
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 3;
    width: 740px;
    height: 480px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

img {
    height: 150px;
}

.artwork1 {
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    margin-left: 20px;
    float: left;
}

.artwork2 {
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    margin-left: 25px;
    float: left;
}

.artwork3 {
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    /* margin: 54px 0px 0px 10px;
    float: left;
    clear: both;   */
    margin-left: 30px;
    float: left;
}

.artwork4 {
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    /* margin: 54px 0px 0px 30px;
    float: left; */
    /* margin: 54px 0px 0px 10px;
    float: left;
    clear: both;     */
    margin-left: 35px;
    float: left;
}

.artwork5 {
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    margin: 30px 0px 0px 20px;
    float: left;
    clear: both;
    /* margin: 54px 0px 0px 30px;
    float: left; */
}

.artwork6 {
    /* margin: 54px 0px 0px 30px;
    float: left; */
    margin: 30px 0px 0px 25px;
    float: left;
}

.artwork7 {
    margin: 30px 0px 0px 30px;
    float: left;
    /* clear: both; */
}

.artwork8 {
    margin: 30px 0px 0px 35px;
    float: left;
}

/* .artwork9 { */

/* margin: 54px 0px 0px 10px;
    float: left;
    clear: both;  */

/* margin: 54px 0px 0px 60px;
    float: left;
} */

/* .artwork10 { */

/* margin: 54px 0px 0px 30px;
    float: left; */

/* margin: 54px 0px 0px 10px;
    float: left;
    clear: both;
} */

/* *************************************************** */

/* CONTACT PAGE */

/* *************************************************** */

#contact {
    background-color: #ffffff;
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 3;
    width: 740px;
    height: 480px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

/* BUTTONS/LINKS */

.button_a {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    height: 15px;
    width: 95px;
    margin: 10px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button_a:hover {
    color: #ffffff !important;
    background: rgb(253, 213, 36);
    border-color: rgb(253, 213, 36) !important;
    transition: all 0.4s ease 0s;
}

.button_b {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    height: 15px;
    width: 95px;
    margin: 10px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button_b:hover {
    color: #ffffff !important;
    background: rgb(231, 131, 165);
    border-color: rgb(231, 131, 165) !important;
    transition: all 0.4s ease 0s;
}

.button_c {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    height: 15px;
    width: 95px;
    margin: 10px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button_c:hover {
    color: #ffffff !important;
    background: rgb(73, 165, 165);
    border-color: rgb(73, 165, 165) !important;
    transition: all 0.4s ease 0s;
}

.button_d {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    height: 15px;
    width: 95px;
    margin: 10px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button_d:hover {
    color: #ffffff !important;
    background: #fc8804;
    border-color: #fc8804 !important;
    transition: all 0.4s ease 0s;
}

/* *************************************************** */

label {
    color: #777777;
    font-family: 'Arial', 'Hevetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 10px;
}

input[type=text], select {
    width: 710px;
    height: 36px;
    border: 1px solid #dddddd;
    margin: 10px 0px 20px 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

input[type=email], select {
    width: 710px;
    height: 36px;
    border: 1px solid #dddddd;
    margin: 10px 0px 20px 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

#message {
    width: 710px;
    height: 90px;
    padding: 6px;
    border: 1px solid #dddddd;
    margin: 10px 0px 0px 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

input[type=submit] {
    width: 116px;
    height: 40px;
    margin: 20px 0px 0px 10px;
    background-color: #eba57f;
    border: none;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}

/* *************************************************** */

/* *------* MEDIA QUERIES *------* */

/* *************************************************** */

/* LARGE TABLET SIZE */

/* *************************************************** */

@media screen and (max-width: 980px) {
    body {
        font-size: 16px;
    }
    p {
        margin-bottom: 0px;
        line-height: 28px;
    }
    #main {
        max-width: 580px;
    }
    #portfolio {
        max-width: 580px;
    }
    #form {
        max-width: 580px;
    }
    input[type=email], select {
        width: 560px;
        height: 36px;
    }
    input[type=text], select {
        width: 560px;
        height: 36px;
    }
    #message {
        width: 550px;
        height: 190px;
    }
    /*     
    #logo {
        width: 170px;
        font-size: 16px;
        height: 15px;
    } */
    .navlinks {
        float: right;
        margin-right: 80px;
    }
    header {
        width: 100%;
        height: 75px;
    }
    .container {
        width: 960px;
        margin-left: 60px;
    }
    #bio-image {
        width: 200px;
        margin-bottom: 16x;
    }
    /* hr {
        border-top: 3px solid #dddddd;
        width: 560px;
        margin: 36px 0px 30px 10px;
    } */
}

/* *************************************************** */

/* SMALL TABLET SIZE */

/* *************************************************** */

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
    p {
        margin-bottom: 0px;
    }
    #portfolio {
        max-width: 700px;
        height: 1050px;
    }
    #contact {
        max-width: 700px;
    }
    input[type=email], select {
        width: 680px;
        height: 36px;
    }
    input[type=text], select {
        width: 680px;
        height: 36px;
    }
    #message {
        width: 670px;
        height: 190px;
    }
    header {
        width: 100%;
        height: 75px;
    }
    #logo {
        width: 230px;
        height: 15px;
        font-size: 16px;
        float: left;
    }
    .navlinks {
        float: right;
    }
    #main {
        max-width: 700px;
        padding-top: 20px;
    }
    .container {
        width: 740px;
        margin: 0 auto;
    }
    #bio-image {
        width: 150px;
        height: 150px;
        margin-bottom: 16px;
    }
    hr {
        border-top: 3px solid #dddddd;
        width: 680px;
        margin: 36px 0px 30px 10px;
    }
    article {
        background-color: #eba57f;
        width: 320px;
        height: 60px;
        margin-top: 200px;
    }
    .hw1 {
        background-size: 320px 270px;
        width: 320px;
        height: 270px;
        margin-left: 10px;
        float: left;
    }
    .hw2 {
        background-size: 320px 270px;
        width: 320px;
        height: 270px;
        margin-left: 40px;
    }
    .hw3 {
        background-size: 320px 270px;
        width: 320px;
        height: 270px;
        margin-left: 10px;
        float: left;
    }
    .hw4 {
        background-size: 320px 270px;
        width: 320px;
        height: 270px;
        margin-left: 40px;
    }
    .hw5 {
        background-size: 320px 270px;
        width: 320px;
        height: 270px;
        margin-left: 10px;
        float: left;
    }
}

/* *************************************************** */

/* MOBILE DEVICE SIZE */

/* *************************************************** */

@media screen and (max-width: 640px) {
    body {
        font-size: 16px;
        width: 100%;
    }
    p {
        margin-bottom: 0px;
    }
    header {
        width: 640px;
        padding-bottom: 90px;
        text-align: center;
    }
    header {
        top: 0;
    }
    #logo {
        width: 580px;
        height: 30px;
        float: left;
        margin-left: -10px;
    }
    nav {
        margin: 0 auto;
        padding: 80px;
    }
    #main {
        max-width: 560px;
        height: 900px;
        margin: 0 auto;
        margin-top: 30px;
    }
    #portfolio {
        max-width: 560px;
        margin: 0 auto;
        margin-top: 30px;
        height: 2600px;
    }
    #contact {
        max-width: 560px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .container {
        width: 620px;
        margin: 0 auto;
    }
    #bio-image {
        width: 540px;
        height: 450px;
        margin-bottom: 16px;
    }
    hr {
        border-top: 3px solid #dddddd;
        width: 540px;
        margin: 36px 0px 30px 10px;
    }
    article {
        background-color: #eba57f;
        width: 540px;
        height: 60px;
        margin-top: 380px;
    }
    .WGG {
        background-size: 540px 450px;
        width: 540px;
        height: 450px;
        margin-left: 10px;
        float: left;
    }
    .CC {
        background-size: 540px 450px;
        width: 540px;
        height: 450px;
        margin: 40px 0px 0px 10px;
    }
    .Trivia {
        background-size: 540px 450px;
        width: 540px;
        height: 450px;
        margin-left: 10px;
        float: left;
    }
    .Rutgers {
        background-size: 540px 450px;
        width: 540px;
        height: 450px;
        margin: 40px 0px 0px 10px;
    }
    .RPS {
        background-size: 540px 450px;
        width: 540px;
        height: 450px;
        margin-left: 10px;
        float: left;
    }
    input[type=email], select {
        width: 540px;
        height: 36px;
    }
    input[type=text], select {
        width: 540px;
        height: 36px;
    }
    #message {
        width: 530px;
        height: 190px;
    }
    /* *************************************************** */